*{
    padding: 0px;
    margin: 0px;
}
header{
    height: 80px;
    text-align:right;
    background: white;
    font-weight: bold;

}
nav{
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    color: black;
}
.a{
    width: 100px;
    position:absolute;
    left: 20px;
    margin: 20px 0px;

}
.one{
    height: 500px;
    background: rgb(211, 224, 209);
}
.two{
    position: absolute;
    left: 70vw;
    top: 150px;
    width: 300px;
    height: fit-content;

}
.b{
    width: 35vw;
    height: 500px;
}
.three{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: white;
}
.c{
    position: absolute;
    left: 25vw;
    top: 150px;
    width: 20vw;
    height: 300px;
}
.four{
    height: 100vh;
}
.five{
    position: absolute;
    left: 30vw;
    width: 30vw;
    height: fit-content; 
    padding: 10vh 2vw;   
}
.d{
    position: absolute;
    width: 25vw;
    height:60vh;
    padding: 20vh 2vw;
}
.e{
    position: absolute;
    width: 30vw;
    height:100vh;
    right: 0px;
}
.six{
    height: 60vh;
    background: gainsboro;
    text-align: center;
    padding: 20vh 0vw;
}
.seven{
    display: inline-block;
    width: 300px;
    height: fit-content;
    padding: 20px;
}
.f{
    width: 200px;
    height: 200px;
    padding:50px;
    text-align: center;
}